<h3 class="text-center display-5">{{title}}</h3>
<div class="card bg-secondary my-2" ng-repeat="act in data">
    <div class="card-body">
        <h4 class="card-title">{{act.name}}</h4>
        <p class="card-text"><div class="" ng-repeat="days in act.time">{{days.day}} {{days.hours[0]}} - {{days.hours[days.hours.length-1]+1}}  </div></p>
        <p></p>
        <i class="fa fa-trash fa-fw" ng-click="remove(act.id)"></i>
    </div>
</div>
<div>
    <a href="#!activity/add">
        <i class="fa fa-plus fa-fw"></i>
    </a>
</div>
<div>
    <a href="">
        <button type="submit" class="btn btn-success btn-block" ng-click="generate()">Generate</button>
    </a>
</div>