<h3 class="text-center display-5">{{title}}</h3>
<table class="table table-striped">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Activity name</th>
        <th scope="col">Interval</th>
        <th scope="col">Day</th>
        <th scope="col">action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="act in data">
        <td>{{act.name}}</td>
        <td>{{act.time}}</td>
        <td>{{act.rules}}</td>
        <td>
            <span ng-repeat="day in act.days">{{day}} </span>
        </td>
        <td><i class="fa fa-pencil fa-fw"></i><i class="fa fa-trash fa-fw" ng-click="remove(act.id)"></i></td>
        </tr>
    </tbody>
</table>
<a href="#!activity/add">
    <i class="fa fa-plus fa-fw"></i>
</a>