<html>
<head>
<title>Horarium</title>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
<script src="/js/controller.js"></script>
<link rel="stylesheet"
	href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
</head>
<body>
	<div class="container" ng-app="app">
		<div class="row">
			<div ng-controller="registerController" class="col-md-3">
				<form name="regForm" ng-submit="submitRegForm()">
					<h3 class="text-center">Register</h3>
				    <div class="form-group">
				        <h4>Email address</h4>
				        <input type="email" class="form-control" ng-model="email" placeholder="Enter email"/>
				    </div>
				    <div class="form-group">
				        <h4>Password</h4>
				        <input type="password" class="form-control" ng-model="password" placeholder="Password"/>
				    </div>
				    <button type="submit" class="btn btn-success btn-block">Register</button>
				</form>
				<p>{{postResultMessage}}</p>
			</div>
		</div>
	</div>
</body>
</html>