<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="main.css">
    <script src="https://use.fontawesome.com/4f65015d26.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="ActivityCTRL.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
    <title>Horarium activities</title>
</head>

<body ng-app="Horarium" ng-controller="activityCtrl">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <h1 class="text-center display-3">Horarium</h1>
                <div class="card">
                    <div class="card-body main-card">
                        <h3 class="text-center display-5">{{title}}</h3>
                            <table class="table table-striped" ng->
                                    <thead>
                                      <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Activity name</th>
                                        <th scope="col">Interval</th>
                                        <th scope="col">Day</th>
                                        <th scope="col">action</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr ng-repeat="act in getData()">
                                        <td>{{act.id}}</td>
                                        <td>{{act.action}}</td>
                                        <td>{{act.interval}}</td>
                                        <td>
                                            <span ng-repeat="day in act.days">{{day}} </span>
                                        </td>
                                        <td><i class="fa fa-pencil fa-fw"></i><i class="fa fa-trash fa-fw" ng-click="remove(act)"></i></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <i class="fa fa-plus fa-fw"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>